.datepicker {
	cursor:default;
}

.datepicker:focus {
	outline:0px;
}

.datepicker > input {
	width:1px;
	height:1px;
	border:0px;
	padding:0px;
	margin:0px;
	position:fixed;
	left:-100px;
	background:transparent;
	ime-mode:disabled;
}

.datapicker > div {
	display:table;
}

.datepicker > div > div {
	border:1px solid rgba(1,1,1,0);
	display:table-cell;
	padding:1px;
	vertical-align:middle;
}

.datepicker > div > .fs {
	border:1px solid #eb8;
}

.datepicker:after {
	clear:both;
}
